.progress {
  padding: 0.25rem;
  border-radius: 30px;
}

.progress-bar {
  height: 0.5rem;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: width 1s cubic-bezier(0.23, 1, 0.32, 1);
}
